body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;

  min-height: 100dvh;
  background-image: var(--linear-gradient-1);
}

.challenge-wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

header {
  background-color: var(--white);
  padding: 2rem;
  img {
    inline-size: var(--fluid-100-158);
  }
}

picture {
  img {
    inline-size: 100%;
  }
}

main {
  text-align: center;
  align-content: center;
  color: var(--desatured-red);
  padding-inline: 2rem;

  h1 {
    font-size: var(--fluid-40-64);
    letter-spacing: var(--fluid-10-17);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    line-height: var(--fluid-42-71);
    > * {
      display: block;
    }
    > span + span {
      color: var(--dark-grayish-red);
      font-weight: var(--fw-600);
    }
  }

  p {
    font-size: var(--fluid-14-16);
    margin-top: 1rem;
  }

  form {
    --_border-radius: 32px;
    margin-top: 2rem;

    .input-field {
      display: flex;
      border-radius: var(--_border-radius);
      border: 1px solid var(--desatured-red);

      .input-wrapper {
        flex-grow: 1;
        input {
          background-color: transparent;
          border: none;
          padding: 0.75rem 0 0.75rem 1.5rem;
          outline: none;
          width: 100%;
          &::placeholder {
            color: var(--desatured-red);
          }
        }
      }
    }

    button {
      cursor: pointer;
      border: none;
      background-image: var(--linear-gradient-2);
      border-radius: var(--_border-radius);
      box-shadow: var(--box-shadow-btn);
      padding: 0;
      min-inline-size: clamp(4rem, 3.2174rem + 3.913vw, 6.25rem);
      display: grid;
      place-items: center;
    }
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
